<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear Mesa</title>
    <link rel="stylesheet" href="/static/crear_cliente.css" />
  </head>
  <body>
    <header>
      <h1>Crear nueva mesa</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <!-- Otras opciones de navegación -->
      </ul>
    </nav>

    <div class="form-container">
      <form action="/crear_mesa" method="post">
        <div class="form-group">
          <label for="numero_mesa">Número de Mesa:</label>
          <input type="number" id="numero_mesa" name="numero_mesa" required />
        </div>
        <div class="form-group">
          <label for="capacidad">Capacidad:</label>
          <input type="number" id="capacidad" name="capacidad" required />
        </div>
        <div class="form-group">
          <label for="disponible">Disponible:</label>
          <select id="disponible" name="disponible" required>
            <option value="">Seleccione...</option>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_cliente">Cliente:</label>
          <select name="id_cliente" required>
            <option value="">Seleccione un cliente</option>
            {% for cliente in clientes %}
            <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
            <!-- Asegúrate de que 'nombre' sea el atributo correcto -->
            {% endfor %}
          </select>
        </div>
        <button type="submit">Crear Mesa</button>
      </form>
    </div>

    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}
  </body>
</html>
