<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear Pedido</title>
    <link rel="stylesheet" href="/static/crear_cliente.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/read_pedidos">Ver pedidos</a></li>
        </ul>
        <h1>Crear nuevo pedido</h1>
      </nav>
    </div>

    <div class="form-container">
      <form action="/crear_pedido" method="post">
        <div class="form-group">
          <label for="id_mesa">Mesa:</label>
          <select id="id_mesa" name="mesa_id" required>
            <option value="">Seleccione una mesa</option>
            {% for mesa in mesas %}
            <option value="{{ mesa.id }}">Mesa {{ mesa.numero_mesa }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="combo_id">ID de Combo:</label>
          <input type="number" id="combo_id" name="combo_id" required />
        </div>
        <div class="form-group">
          <label for="bebida_id">ID de Bebida:</label>
          <input type="number" id="bebida_id" name="bebida_id" required />
        </div>
        <div class="form-group">
          <label for="precio_total">Precio Total:</label>
          <input type="number" step="0.01" id="precio_total" name="precio_total" required />
        </div>
        <button type="submit">Crear Pedido</button>
      </form>
    </div>

    <!-- Mensaje de éxito o error -->
    {% if success_message %}
    <div class="message-container">
      <p class="message success">{{ success_message }}</p>
    </div>
    {% elif error_message %}
    <div class="message-container">
      <p class="message error">{{ error_message }}</p>
    </div>
    {% endif %}
  </body>
</html>
